<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>电影</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" type="text/css" href="film.css">
</head>

<body class="body">
    <div class="search-bar">
        <input class="search-field" type="text" v-model="keyword" placeholder="请输入搜索关键字">
        <button class="search-cancel" v-on:click="cancelClick">取消</button>
    </div>

    <div class="middle">
        <div v-if="searching" class="list">
            <div v-for="(item,index) in searchs" class="film-item" @click="selectIndex(index)">
                <img class="film-icon" src="film.png">
                {{item.name}}
            </div>
        </div>
        <div v-else class="list">
            <div v-for="(item,index) in items" class="film-item" @click="selectIndex(index)">
                <img class="film-icon" src="film.png">
                {{item.name}}
            </div>
        </div>
    </div>

    <div class="player-view">
        <video width="240" height="120" ref="player" controls autoplay preload="auto" loop>
            <source v-bind:src="video_url" type="video/mp4">
        </video>
        <div class="info">
            <p class="video-info">{{video_name}}</p>
        </div>
    </div>
    <script src="film.js"></script>
</body>

</html>
