 body {
    margin: 15px 20px;
    overflow: hidden;
    background-color: #fff;
    height: 100%;
 }

 .player-view {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 #player {
    background-color: transparent;
 }

 .info {
    padding-left: 10px;
 }
 .audio-info {
    font-size: 10px;
    font-weight: 400;
    color: gray;
    line-height: 15px;
    margin: 0px;
 }

 .search-bar {
    display: flex;
    padding: 10px 0px;
    flex-wrap: nowrap;
    justify-content: space-between
 }

 .search-field {
    height: 40px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    color: darkgoldenrod;
 }

 .search-cancel {
    font-size: 16px;
    background-color: transparent;
    color: darkgoldenrod;
    width: 80px;
    border: none;
    text-align: right;
 }

 .music-item {
    color: darkgoldenrod;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
    height: 40px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #ddd;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: top;
 }

 .music-icon {
    width: 30px;
    height: 30px;
    filter: sepia(100%);
    margin-right: 20px;
 }
 .middle {
	position: absolute !important;
	top: 80px !important;
	bottom: 50px;
	width: 100%;
	overflow: hidden;
	height: auto !important;
}
 .list {
    /* vertical-align: top; */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
 }

 a:link {
    color: #3847B6;
    text-decoration: none;
 }

 /* 未访问链接*/
 a:visited {
    color: 3847B6;
    text-decoration: none;
 }

 /* 已访问链接 */